<!DOCTYPE html>
<html>
<head>
  <title>RedFile</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <main>
      <h5>
      Current Red user: <%= current_user.name %>
    </h5>

    <%= yield %>

  </main>
</body>
</html>
